*{
	font-family: 'Ubuntu', sans-serif;
	color: black;
}

body{
	background-color: #BDC3C7;
}

#header{
	text-align: center;
}


#header h1{
	text-align: center;
	color: black;
	margin-bottom: 0;
}
#header p{
	font-size: 12px;
	margin: 5px;
}

#container{
	width: 460px;
	
	display: block;
	margin: 0 auto;
	
	background-color: #EEEEEE;
}

#dashboard{
	border-top: 1px #BDC3C7 solid;
	height: 450px;
}

#general, #comparisons{
	display: block;
	float: left;
	border: 5px black solid;
	margin: 10px;
	width: 200px;
}


#general h3, li{
	list-style: none;
	font-size: 1.3em;
	font-weight: bold;
	height: 50px;
	text-align: center;
	padding: 0;
	line-height: 50px;
}

#general h3:not(:first-of-type), li:not(:first-of-type){
	cursor: pointer;
}

#general h3:not(:first-of-type):hover, li:not(:first-of-type):hover{
	background-color: RGB(112, 204, 137);
}

#general h3:not(:first-of-type):active, li:not(:first-of-type):active{
	background-color: RGB(41, 204, 84);
}

#general h3:first-of-type, li:first-of-type{
	text-align: center;
	color: white;
	background-color: RGB(22, 166, 255);
	margin: 0;
	height: 60px;
	border-bottom: 5px black solid;
}

#general h3:not(:last-child), li:not(:last-child){
	border-bottom: 2px black solid;
}

h3{
	text-align: center;
	margin: 0;
	padding: 5px;
}

/*
h3:nth-of-type(odd){
	background-color: #26A65B;
}
h3:nth-of-type(1){
	background-color: RGB(22, 166, 255);
}

h3:nth-of-type(even){
	background-color: #CF000F;
}
*/

ul{
	margin: 0;
	padding-left: 0;
}
